---
layout: page
title: 类目
permalink: /category/
---

<!-- 标签按文章数排序 -->
{% assign max_tag_count = 0 %}
  {% for tag in site.tags %}
    {% if tag[1].size > max_tag_count %}
      {% assign max_tag_count = tag[1].size %}
    {% endif %}
 {% endfor %}
{% for i in (1..max_tag_count) reversed %}
{% for tag in site.tags %}
{% if tag[1].size == i and tag[1].size > 1 %}
  <a href="{{ '/tags?tag=' | prepend: site.baseurl }}{{ tag[0] }}" target="_blank" class="tag-btn">
    <i class="post-tag mdi mdi-tag-multiple waves-effect waves-light"></i>
    {{ tag[0] }} <sup>{{ tag[1].size }}</sup>
  </a>
{% endif %}
{% endfor %}
{% endfor %}
<a href="{{ '/tags' | prepend: site.baseurl }}" target="_blank" class="tag-btn">
  <i class="post-tag mdi mdi-tag-multiple waves-effect waves-light"></i> ……
</a>

<div style="padding-top: 1rem;">
  <style>button { margin-bottom: 10px; }</style>
  <button class="waves-effect waves-light btn" onClick="expandAll();"><i class="mdi mdi-chevron-double-down left"></i>展开</button>
  <button class="waves-effect waves-light btn" onClick="collapseAll();"><i class="mdi mdi-chevron-double-up left"></i>折叠</button>
</div>

{% capture categories %}
{% for category in site.categories reversed %}
{{ category | first }}
{% unless forloop.last %},{% endunless %}
{% endfor %}
{% endcapture %}
{% assign category = categories | split:',' | sort %}

<div class="post-category re1">
  {% for item in (0..site.categories.size) %}{% unless forloop.last %}

    {% capture word %}{{ category[item] | strip_newlines }}{% endcapture %}

    <a id="{{ word }}" class="section scrollspy"></a> 

    <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header active">
        <span class="capitalize" style="font-size: 18px;">{{ word }}</span>
        <a class="waves-circle btn-floating right waves-effect waves-green white"><p class="pink-text">{{site.categories[word].size }}</p></a>
      </div>

      <div class="collapsible-body">
        {% for post in site.categories[word] %}{% if post.title != null %}
          <ul>
            <li>
              <span class="font-number">{{ post.date | date: "%Y-%m-%d" }}</span>
              <span class="date-arrow">&nbsp;>>&nbsp;</span>
              <a class="category-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
          </ul>
        {% endif %}{% endfor %}
      </div>
    </li>
    </ul>

  {% endunless %}{% endfor %}
</div>
