<!-- 百度统计代码 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?12371754b1aa9eb9b7c143b8507fd8fe";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<div class="nav-wrapper">
      <span class="site-title"><a href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}</a></span>
      <a href="#" data-activates="mobile-navbar" class="button-collapse"><i class="mdi mdi-menu white-text"></i></a>
      
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{ '/' | prepend: site.baseurl }}" class="white-text">
            <i class="mdi mdi-home left indigo-text text-lighten-3"></i>首页
        </a></li>
        <li><a href="{{ '/about' | prepend: site.baseurl }}" class="white-text">
            <i class="mdi mdi-account-circle left indigo-text text-lighten-3"></i>关于
        </a></li>
        <li><a href="{{ '/category' | prepend: site.baseurl }}" class="white-text">
            <i class="mdi mdi-folder-multiple left indigo-text text-lighten-3"></i>类目
        </a></li>
        <li><a href="{{ '/feed.xml' | prepend: site.baseurl }}" class="white-text">
            <i class="mdi mdi-rss left indigo-text text-lighten-3"></i>RSS
        </a></li>
      </ul>
      <ul class="side-nav" id="mobile-navbar">
        <li><a href="{{ '/' | prepend: site.baseurl }}" class="waves-effect waves-teal black-text">
            <i class="mdi mdi-home left green-text"></i>首页
        </a></li>
        <li><a href="{{ '/about' | prepend: site.baseurl }}" class="waves-effect waves-teal black-text">
            <i class="mdi mdi-account-circle left blue-text"></i>关于
        </a></li>
        <li><a href="{{ '/category' | prepend: site.baseurl }}" class="waves-effect waves-teal black-text">
            <i class="mdi mdi-folder-multiple left yellow-text text-darken-1"></i>类目
        </a></li>
        <li><a href="{{ '/feed.xml' | prepend: site.baseurl }}" class="waves-effect waves-teal black-text">
            <i class="mdi mdi-rss left red-text"></i>RSS
        </a></li>
      </ul>
</div>
