/**
 * font
 */

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

// Latin_Modern_Mono
@font-face {
  font-family: "Latin_Modern_Mono";
  src: url("../lib/font/Latin_Modern_Mono/lmmonocaps-oblique.otf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Delius
@font-face {
  font-family: "Delius";
  src: url("../lib/font/Delius/Delius-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Delius_Swash_Caps
@font-face {
  font-family: "Delius_Swash_Caps";
  src: url("../lib/font/Delius_Swash_Caps/DeliusSwashCaps-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Source_Sans_Pro
@font-face {
  font-family: "Source_Sans_Pro";
  src: url("../lib/font/Source_Sans_Pro/SourceSansPro-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Source_Sans_Pro";
  src: url("../lib/font/Source_Sans_Pro/SourceSansPro-Italic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

/**
  * material scrolltop
  */
.material-scrolltop {
  background-color: $pink !important;
  display: block;
  position: fixed;
  width: 0;
  height: 0;
  bottom: 42px;
  right: 30px;
  padding: 0;
  overflow: hidden;
  outline: none;
  border: none;
  border-radius: 2px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  cursor: hand;
  border-radius: 50%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
}

.material-scrolltop:hover {
  //background-color: $pink;
  text-decoration: none;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5), 0 3px 15px rgba(0, 0, 0, 0.5);
}

.material-scrolltop.reveal {
  width: 56px;
  height: 56px;
}

.material-scrolltop,
.material-scrolltop::before {
  background-position: center 50%;
  background-repeat: no-repeat;
}

/**
  * table of content plugin
  */
#toc-container {
  width: 56px;
  position: fixed;
  bottom: 0px;
  top: auto;
  right: 30px;
  left: auto;
  z-index: 999;
  border-bottom: 2px solid $pink-light1;
}

.dropdown-content li > a,
.dropdown-content li > span {
  padding: 10px 16px;
}
.dropdown-content li {
  min-height: 40px;
}

.post-toc {
  padding: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 0.8rem 0.8rem 0 0;
}
.post-toc:hover {
  background-color: rgba(160, 232, 225, 0.8);
}
.ico-drop.mdi-menu-up {
  display: inline-block;
}
.ico-drop.mdi-menu-down {
  display: none;
}
@media only screen and (max-width: 600px) {
  #toc-container {
    right: 5px;
    // top: 10px;
    bottom: 47px;
    border-bottom: 0;
  }
  .post-toc {
    padding: 0;
    width: 100%;
    border-radius: 3rem;
    background-color: rgba(255, 255, 255, 0.8);
  }
  // .ico-drop.mdi-menu-up {
  //   display: none;
  // }
  // .ico-drop.mdi-menu-down {
  //   display: inline-block;
  // }
}
.toctext {
  font-size: 14px;
}
