<div class="site-container"><div class="wrapper">

<div class="post-ribbon"></div>

<div class="container post-container">
  <div class="post-page card-panel z-depth-2">
  <div class="tab-section">

    <div class="post-header">
      <h1 class="post-title">欢迎页</h1>
    </div>

    <article class="post-content">
      <h2>Welcome to Ganace's Blog</h2>

      <hr>

      <p>欢迎你来到<a href="{{ '/' | prepend: site.baseurl }}">Ganace</a> 的个人博客。</p>

      <p>在茫茫互联网的海洋里能够遇见<a href="javascript:;">您</a>，实在是一份小幸运。</p>

      <p>诚挚地向您问候一声:您好，朋友！</p>

      <p>这里是属于Ganace个人的隐秘小空间，记录了工作学习中遇到的知识点与灵感，以及生活中的碎碎念吐槽、突如其来的中二病、尬尬的文艺时间、锻炼腹肌的时刻、惊喜的小发现等等。</p>

      <p>想要在自己的平淡无奇的人生长河中留下些什么，或者只是为了拯救老人家岌岌可危的记忆力，仅此而已。</p>

      <p>来到此地，分享与你。</p>

      <p>也期待与您的再次相遇！</p>

      <h2>Share with Me</h2>

      <hr>

      <p>有任何的分享或者建议与吐槽，都可以Email我：<a href="javascript:;">1289304598@qq.com</a></p>

      <p>欢迎您的来信！</p>
    </article>

  </div>
  </div>
</div>

</div>
</div>

